#parallax {
    background-image: url("thanos-sword.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--element-height);}

.hovering {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(60%, -50%);}

.hovering:hover {
    border: #f04937 5px solid;
    border-radius: 2px;}

#footer {
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;}

#lifegoals {
    font-family: "Inconsolata", monospace;
    color: #f04937;
    font-size: 160px;
}

* {
    margin: 0;}

#content, html, body {
    height: 100%;
    width: 100%;
    background-color: #333;}

#welcome {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: table;
    color: white;}

#title {
    font-family: "Inconsolata", monospace;
    font-size: 30px;
    font-weight: bold;
    display: table-cell;}

#motd {
    padding-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #f04937;
    display: table-cell;}

#todo {
    font-family: "Montserrat", monospace;
    font-size: 60px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 160px;
    padding-right: 50px;
    padding-bottom: 100px;
    color: white;}

.done {
    color: #999;}

a, a:visited {
    text-decoration: none;
    color: #cccccc;}

a:hover, a:visited:hover {
    text-decoration: underline;
    color: white;}
